@charset "utf-8";
/* CSS Document */

/*重置样式表*/
body,div,dl,dd,h1,h2,h3,h4,h5,h6,p,form {margin:0; padding:0;}
ol,ul,li{margin:0;padding:0;list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
em,i{font-style:normal;}
img{border:0;display: block;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none; }
a:hover{text-decoration:underline;}
.block{display: block;}
body{ font-family:微软雅黑,Arial,宋体,sans-serif; background:#D5D5D5 }
.content{min-width:320px;max-width:720px; height:auto; margin:0 auto 0;  position:relative; overflow:hidden; background:#170d2f; }
.footer { width:100%; text-align:center; font-size:1em; line-height:3em; color:#bcdff3; padding:0.5em 0;  background-image: url(top_07.jpg); background-repeat: no-repeat;}
.footer a { color:#fff}
/**/
.banner { position:fixed; top:0; z-index:1000;min-width:320px;max-width:720px; }
.banner img { width:100%; }
/**/
.index_download { width:100%; text-align:center; position:relative; }
.index_download img { width:100%;height:auto;}
.index_download .down-btn { width:100%; display: block;text-decoration: none;margin:50em auto; position: absolute; z-index:100;}
.index_download a.down-btn1 { width:100%; display: block;text-decoration: none;margin:0 auto;  float:left}
.index_download a.down-btn1 img { width:50%;}
.shipin{width:100%; text-align:center; position:absolute;}
/**/
.content .img_style { width:100%; position:relative;}
.bbb { width:100%; position:relative; background-image:url(top_13.jpg); background-repeat: no-repeat;}
/******************************/

@media screen and (min-width:320px) and (max-width:719px) {}

.divdownload1 {background-image: url(/Mobile/images/top_02.jpg);background-repeat: no-repeat;background-size: 100% auto;}
.divdownload1 img {width: 250px;margin: -1px auto;padding-top: 80px;}
.divdownload2 {background-image: url(/Mobile/images/top_06.jpg);background-repeat: no-repeat;background-size: 100% auto;}
.divdownload2 img {width: 200px;margin: 0 auto;padding-top: 160px;padding-bottom:20px;}
.btnShow {text-align: center;padding-bottom: 60px;padding-top: 20px;}
.btnShow img {width: 150px;display: inline;}
